<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit My Account</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="wrapper"> 
        {% if messages %}
            <ul class="messages">
                {% for eachmessage in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ eachmessage }}</li>
                {% endfor %}    
            </ul>
        {% endif %}
        <div id="register">
            <section>
                <h5 class="text-left pb-3">Edit My Account</h5>
                <form action="/quotes/edit/{{user.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fName">First Name</label>
                        <input type="text" name="fName" id="fName" value="{{user.fName}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="lName">Last Name</label>
                        <input type="text" name="lName" id="lName" value="{{user.lName}}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" name="email" id="email" value="{{user.email}}" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </section>
            <section>
                <a href="/quotes" class="mr-3">Back</a>
                <a href="/log_out" class="btn btn-primary" role="button">Log Out</a>
            </section>
        </div>
    </div>
</body>
</html>